.catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px; /* Agregar padding para mayor espaciado interno */
}

.catalogo-banner {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1200px; /* Limitar el ancho máximo del banner */
}

.catalogo-info h2 {
    text-align: center;
}

.catalogo-type1,
.catalogo-type2 {
    margin-top: 25px;
    display: flex;
    gap: 50px;
    justify-content: center; /* Centrar los elementos */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
    width: 100%; /* Asegurar que ocupe todo el ancho disponible */
    max-width: 1200px; /* Limitar el ancho máximo del contenedor */
}

.catalogo-elements {
    display: block;
    width: calc(50% - 25px); /* Ajustar el ancho de los elementos y mantener el gap */
    margin-bottom: 20px;
    border-radius: 1%;
    box-shadow: 10px 10px 10px gray;
}

.catalogo-elements:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 1024px) {
    .catalogo-type1,
    .catalogo-type2 {
        gap: 20px;
    }

    .catalogo-elements {
        width: calc(50% - 10px); /* Ajustar el ancho de los elementos y mantener el gap */
    }
}

@media (max-width: 768px) {
    .catalogo-elements {
        width: 100%; /* Ajustar el ancho de los elementos a 100% en pantallas pequeñas */
    }
}

