.hero {
    margin-bottom: 100px;
}

.hero .slick-slide a {
    width: 100%;
    height: 100%;
  }
  
.hero .slick-slide img {
object-fit: cover;
}

.contenedor-texto{
    display: flex;
    justify-content: center;
    align-items: column;
    height: 100%;
}
.contenedor-texto h1{
    margin-top: 50px ;
   font-size: 60px;
}

p{
    color: #171717;
    font-size: 20px;
    font-weight: 500;
}



.contacto-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    background-color: #171717;
    color:#ffffff;
    font-size: 22px;
    font-weight: 500;
}

@media(max-width:1280px){
    .hero{
        height: 60vh;
    }
    .hero-left{
        padding: 100px;
    }

    .hero-left h2{
        font-size: 22px;
    }

    .hero-left p{
        font-size: 60px;
    }

    .contacto-btn button{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 10px;
    }
    .hero-right img{
        width: 550px;
    }
}
@media(max-width:1024px){
    .hero-left{
        padding: 80px;
    }

    .hero-left h2{
        font-size: 18px;
    }

    .hero-left p{
        font-size: 50px;
    }

    .contacto-btn button{
        gap: 10px;
        width: 220px;
        height: 50px;

    }
    .hero-right img{
        width: 500px;
    }
}

@media(max-width:800px){
    .hero{
        height: 40vh;
    }
    .hero-left{
        padding: 40px;
    }

    .hero-left h2{
        font-size: 15px;
    }

    .hero-left p{
        font-size: 40px;
    }

    .contacto-btn button{
        gap: 10px;
        width: 200px;
        height: 40px;

    }
    .hero-right img{
        width: 400px;
    }
}

@media(max-width:500px){
    .hero{
        flex-direction: column;
        height: 40vh;
    }
    .hero-left{
        padding: 40px;
    }

    .hero-left h2{
        font-size: 18px;
    }

    .hero-left p{
        font-size: 50px;
    }

    .contacto-btn button{
        font-size: 14px;
        gap: 10px;
        width: 200px;
        height: 40px;

    }
    .hero-right img{
        display: none;
        width: 400px;
    }
}