.catalogo-banner{
    display: block;
    margin-bottom: 20px;
    width: 100%;
}
.catalogo-pasta{
    display: block;
    margin-bottom: 2px;
    width: 100%;
}
.catalogo-pastaTacon{
    display: block;
    margin-bottom: 2px;
    width: 100%;
}
.catalogo-tacon{
    display: block;
    margin-bottom: 2px;
    width: 100%;
}
.catalogo-miscelanea{
    display: block;
    margin-bottom: 2px;
    width: 100%;
}