.contacto-banner{
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

p{
    align-content: center;
    text-align: center;
    margin-bottom: 20px;
}

h1{
    align-content: center;
    text-align: center;
    margin-bottom: 20px;
}

h2{
    align-content: center;
    text-align: center;
    margin-bottom: 20px;
}