.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #194197;
    font-size: 20px;
}

.buscador-container {
  display: relative;
}

.buscador {
  margin-top: 20px;
  display: absolute;
  background-size: 24px;
  width: 200px;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-radius: 15px;
  padding: 10px 10px 10px 30px;
  outline: none;
  text-emphasis-color: #194197;
}

.boton-buscar {
  background-color: #f82a27;
  border: solid 1px #ccc;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  margin-left: -40px; /* Ajusta el margen izquierdo para que esté pegado al buscador */
  cursor: pointer;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}

.login-admi {
    display: flex;
    align-items: center;
    gap: 45px;
}

/* .login-admi button{
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
} */

.login-admi button:hover,
.login-admi button:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.login-admi button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.login-admi button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.nav-dropdown{
  display: none;
}

@media(max-width:1280px){
  .navbar{
    padding: 14px 30px;
  }

  .nav-menu{
    gap: 30px;
    font-size: 14px;
  }

  .login-admi{
    margin-top: 20px;
    width: 80px;
    height: 35px;
    font-size: 14px;
  }

  .buscador{
    width: 150px;
    height: 17px;
  }

  .boton-buscar{
    width: 70px;
    font-size: 10px;
    height: 41px;
  }
}
@media(max-width:1024px){
  .navbar{
    padding: 12
  }

  .nav-menu{
    gap: 30px;
    font-size: 14px;
  }

  .login-admi{
    margin-top: 20px;
    width: 80px;
    height: 35px;
    font-size: 14px;
    margin-left: 10px;
  }
}
@media(max-width:800px){
  .navbar{
    padding: 10px 0px;
  }
  .nav-dropdown{
    margin-left: -80px;
    display: block;
    width: 40px;
    rotate: -90deg;
  }
  .nav-menu{
    display: none;
    margin-top: 30px;
    font-size: 14px;
    height: 60px;
    width: 100%;
    position: absolute;
    background-color: white;
    justify-content: center;
    top:50px;
  }
  .nav-menu-visible{
    display: flex;
  }
  .nav-dropdown.open{
    transform: rotate(90deg);
  }
  .login-admi{
    margin-top: 25px;
    width: 700px;
    height: 35px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
  }
}
@media(max-width:500px){
  .navbar{
    padding: 8px 0px;
    gap: 0;
  }
  .nav-logo{
    transform: scale(0.8)
  }
  .nav-menu{
    margin-top: 25px;
    height: 50px;
    top: 50px;
    font-size: 9px;
  }
  .login-admi{
    margin-top: 25px;
    width: 600px;
    height: 30px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
  }

  .nav-dropdown{
    display: flex;
    margin-left: -200px;
  }

  .buscador{
    font-size: 9px;
    margin-left: -150px;
    width: 100px;
  }
}



