.clutch{
    width: 65%;
    height: 40vh;
    display: flex;
    margin: auto;
    margin-top: 70px;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #194197,#ffffff );
}

.clutch-left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.clutch-left h1 {
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}

.clutch-left p{
    margin-top: 10px;
    color:#171717;
    font-size: 22px;
    font-weight: 600;
}

.clutch-left button{
    width: 228px;
    height: 70px;
    border-radius: 5px;
    background: #ff4141;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 22px;
    font-weight:500;
    margin-top: 30px;
}

.clutch.clutch-left button:hover{
    background: #a12e2e;
}

.clutch-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 50px;

}

@media(max-width: 1280px){
    .clutch{
        padding: 0px 80px;
        margin-bottom: 120px;
    }
    .clutch-left h1{
        font-size: 40px;
    }

    .clutch-left p{
        font-size: 18px;
    }
    .clutch-right img{
        width: 600px;
    }

    .clutch-right{
        padding-top: 30px;
    }

    .clutch-left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
}

@media(max-width: 1024px){
    .clutch{
        padding: 0px 60px;
        margin-bottom: 80px;
        height: 30vh;
    }
    .clutch-left h1{
        font-size: 30px;
    }

    .clutch-left p{
        font-size: 16px;
    }
    .clutch-right img{
        width: 500px;
    }
    .clutch-left button{
        width: 200px;
        height: 40px;
        font-size: 16px;
    }
}

@media(max-width: 800px){
    .clutch{
        margin-bottom: 60px;
    }
    .clutch-left h1{
        font-size: 22px;
    }

    .clutch-left p{
        font-size: 13px;
    }
    .clutch-right img{
        width: 350px;
    }
    .clutch-left button{
        width: 150px;
        height: 30px;
        font-size: 12px;
    }
}

@media(max-width: 500px){
    .clutch{
        height: 25vh;
        margin-bottom: 50px;
    }
    .clutch-left h1{
        font-size: 16px;
    }

    .clutch-left p{
        font-size: 10px;
    }
    .clutch-right img{
        width: 250px;
    }
    .clutch-left button{
        width: 90px;
        height: 30px;
        font-size: 10px;
        margin-top: 12px;
    }
}