.pasta-tacon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Aumentar el gap para mayor espaciado */
    padding: 20px; /* Agregar padding para mayor espaciado interno */
    width: 80%; /* Asegurar que ocupe todo el ancho disponible */
    box-sizing: border-box; /* Incluir padding y border en el tamaño */
    margin: 0 auto; /* Centrar el contenedor */
}

.pasta-tacon h1 {
    color: #171717;
    font-size: 3rem; /* Usar rem para tamaño de fuente flexible */
    font-weight: 600;
    margin: 0; /* Eliminar margen para mejor control */
    text-align: center; /* Centrar el texto */
}

.nuevo-products {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Hacer que las columnas sean flexibles */
    gap: 30px;
    width: 100%; /* Asegurar que ocupe todo el ancho disponible */
    justify-items: center; /* Centrar los elementos dentro de la cuadrícula */
    box-sizing: border-box; /* Incluir padding y border en el tamaño */
}

.pasta-tacon hr {
    width: 100px; /* Ajustar ancho del hr */
    height: 6px;
    border-radius: 10px;
    background: #252525;
    margin: 0; /* Eliminar margen para mejor control */
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 1280px) {
    .pasta-tacon h1 {
        font-size: 2.5rem; /* Ajustar tamaño de fuente */
    }

    .pasta-tacon hr {
        width: 80px;
        height: 4px;
    }
}

@media (max-width: 1024px) {
    .pasta-tacon h1 {
        font-size: 2rem; /* Ajustar tamaño de fuente */
    }

    .pasta-tacon hr {
        width: 60px;
        height: 3px;
    }
}

@media (max-width: 800px) {
    .pasta-tacon h1 {
        font-size: 1.5rem; /* Ajustar tamaño de fuente */
    }

    .pasta-tacon hr {
        width: 50px;
    }
}

@media (max-width: 500px) {
    .pasta-tacon h1 {
        font-size: 1.2rem; /* Ajustar tamaño de fuente */
    }

    .pasta-tacon hr {
        width: 40px;
    }

    .nuevo-products {
        grid-template-columns: 1fr; /* Ajustar a una columna en pantallas muy pequeñas */
        gap: 10px;
    }
}

