.pasta-tacon {
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD
<<<<<<< HEAD
    gap: 20px; /* Aumentar el gap para mayor espaciado */
    padding: 20px; /* Agregar padding para mayor espaciado interno */
    width: 80%; /* Asegurar que ocupe todo el ancho disponible */
    box-sizing: border-box; /* Incluir padding y border en el tamaño */
    margin: 0 auto; /* Centrar el contenedor */
}

.pasta-tacon h1 {
=======
=======
>>>>>>> d5555f28b46425a92266a25334bf963f5b2bceab
    gap: 10px;
    margin-left: 50px;
  }
  
  .pasta-tacon h1 {
<<<<<<< HEAD
>>>>>>> d5555f28b46425a92266a25334bf963f5b2bceab
    color: #171717;
    font-size: 50px;
    font-weight: 600;
<<<<<<< HEAD
    margin: 0; /* Eliminar margen para mejor control */
    text-align: center; /* Centrar el texto */
}

.nuevo-products {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Hacer que las columnas sean flexibles */
=======
    margin-left: -50px;
  }
  
  .nuevo-products {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas en pantallas grandes */
>>>>>>> d5555f28b46425a92266a25334bf963f5b2bceab
=======
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    margin-left: -50px;
  }
  
  .nuevo-products {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas en pantallas grandes */
>>>>>>> d5555f28b46425a92266a25334bf963f5b2bceab
    gap: 30px;
  }
  
  .pasta-tacon hr {
    width: 350px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    margin-left: -50px;
  }
  
  /* Media queries para diferentes tamaños de pantalla */
  @media (max-width: 1280px) {
    .pasta-tacon {
      gap: 20px;
    }
  
    .pasta-tacon h1 {
      font-size: 40px;
    }
  
    .pasta-tacon hr {
      width: 160px;
      height: 4px;
    }
  
    .nuevo-products {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas pequeñas */
      gap: 20px;
    }
  }
  
  @media (max-width: 1024px) {
    .pasta-tacon {
      gap: 15px;
    }
  
    .pasta-tacon h1 {
      font-size: 30px;
    }
  
    .pasta-tacon hr {
      width: 120px;
      height: 3px;
    }
  
    .nuevo-products {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas pequeñas */
      gap: 15px;
    }
  }
  
  @media (max-width: 800px) {
    .pasta-tacon {
      gap: 10px;
    }
  
    .pasta-tacon h1 {
      font-size: 20px;
    }
  
    .pasta-tacon hr {
      width: 100px;
    }
  
    .nuevo-products {
      grid-template-columns: 1fr; /* Una columna en pantallas muy pequeñas */
      gap: 10px;
    }
  }
  


